[submodule "map/ToyLanguageInterpreterCS"]
  path = map/ToyLanguageInterpreterCS
  url = https://github.com/rusucosmin/ToyLanguageInterpreterCS
[submodule "oop/OOP_Exam"]
  path = oop/OOP_Exam
  url = https://github.com/rusucosmin/OOP_Exam
[submodule "mpp-project"]
	path = mpp/mpp-project
	url = https://github.com/rusucosmin/mpp
[submodule "mpp/exampp"]
	path = mpp/exampp
	url = https://github.com/rusucosmin/exampp
[submodule "crypto/cryptography"]
	path = crypto/cryptography
	url = https://github.com/rusucosmin/cryptography
[submodule "cryptography"]
	path = cryptography
	url = https://github.com/rusucosmin/cryptography
[submodule "fp/2-recursion-rusucosmin"]
	path = fp/2-recursion-rusucosmin
	url = git@github.com:lampepfl-courses/2-recursion-rusucosmin.git
[submodule "fp/1-example-rusucosmin"]
	path = fp/1-example-rusucosmin
	url = git@github.com:lampepfl-courses/1-example-rusucosmin.git
[submodule "ada/homework-0-romanians"]
	path = ada/homework-0-romanians
	url = git@github.com:epfl-ada-2018/homework-0-romanians.git
[submodule "data-viz/dataviz-exercises"]
	path = data-viz/dataviz-exercises
	url = git@github.com:epfl-dataviz/dataviz-exercises.git
[submodule "fp/3-functional-sets-rusucosmin"]
	path = fp/3-functional-sets-rusucosmin
	url = git@github.com:lampepfl-courses/3-functional-sets-rusucosmin.git
[submodule "ada/ADA2018-Homework"]
	path = ada/ADA2018-Homework
	url = git@github.com:epfl-ada-2018/ADA2018-Homework.git
[submodule "fp/4-object-oriented-sets-rusucosmin"]
	path = fp/4-object-oriented-sets-rusucosmin
	url = git@github.com:lampepfl-courses/4-object-oriented-sets-rusucosmin.git
[submodule "ml/ML_course"]
	path = ml/ML_course
	url = git@github.com:epfml/ML_course.git
[submodule "ntp"]
	path = ntp
	url = git@github.com:rusucosmin/ntp.git
[submodule "ada/homework-1-romanians_hw1"]
	path = ada/homework-1-romanians_hw1
	url = git@github.com:epfl-ada-2018/homework-1-romanians_hw1.git
[submodule "fp/5-huffman-coding-rusucosmin"]
	path = fp/5-huffman-coding-rusucosmin
	url = git@github.com:lampepfl-courses/5-huffman-coding-rusucosmin.git
[submodule "ml/epfml"]
	path = ml/epfml
	url = git@github.com:rusucosmin/epfml.git
[submodule "data-viz/dv"]
	path = data-viz/dv
	url = git@github.com:rusucosmin/dv.git
[submodule "ada/homework-2-romanians-hw2"]
	path = ada/homework-2-romanians-hw2
	url = git@github.com:epfl-ada-2018/homework-2-romanians-hw2.git
