[submodule "map/ToyLanguageInterpreterCS"]
  path = map/ToyLanguageInterpreterCS
  url = https://github.com/rusucosmin/ToyLanguageInterpreterCS
[submodule "oop/OOP_Exam"]
  path = oop/OOP_Exam
  url = https://github.com/rusucosmin/OOP_Exam
[submodule "mpp"]
  path = mpp
  url = https://github.com/rusucosmin/mpp
