[submodule "map/ToyLanguageInterpreterCS"]
  path = map/ToyLanguageInterpreterCS
  url = https://github.com/rusucosmin/ToyLanguageInterpreterCS
[submodule "oop/OOP_Exam"]
  path = oop/OOP_Exam
  url = https://github.com/rusucosmin/OOP_Exam
[submodule "mpp-project"]
	path = mpp/mpp-project
	url = https://github.com/rusucosmin/mpp
[submodule "mpp/exampp"]
	path = mpp/exampp
	url = https://github.com/rusucosmin/exampp
[submodule "crypto/cryptography"]
	path = crypto/cryptography
	url = https://github.com/rusucosmin/cryptography
[submodule "cryptography"]
	path = cryptography
	url = https://github.com/rusucosmin/cryptography
[submodule "ntp"]
	path = ntds/ntp
	url = git@github.com:rusucosmin/ntp.git
[submodule "ml/epfml"]
	path = ml/epfml
	url = git@github.com:rusucosmin/epfml.git
[submodule "ada/Project"]
	path = ada/Project
	url = git@github.com:alex-mocanu/Project.git
[submodule "ntds"]
	path = ntds/
	url = https://github.com/rusucosmin/ntp
[submodule "sds/hw"]
	path = sds/hw
	url = git@github.com:rusucosmin/hw.git
[submodule "lds/final_project"]
	path = lds/final_project
	url = git@git-dslab.epfl.ch:abelian/final_project.git
[submodule "ia/EPFL_IntelligentAgents"]
	path = ia/EPFL_IntelligentAgents
	url = https://github.com/msorins/EPFL_IntelligentAgents
