body {

}

.menu {
  background: #333333;

  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  position: fixed;

}

.form-container {
  background: #C6C6C6;
  width: 600px;
  height: 400px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#container {
    margin: 0px auto;
    width: 500px;
    height: 375px;
    border: 10px #333 solid;
}
#videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}

#uploadForm {
  visibility: visible;
}

.comment-wrapper {
  width: 50%;
  height: 300px;
  overflow: scroll;
  background: #EEEEEE;
}
